안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [2]:
x=2
y=[]

for x in range(2,11,2):
    y.append(x)
print(y)

[2, 4, 6, 8, 10]

x의 값을 2로 선언하고, x+2가 총 5번 출력되어야하니 10이하의 숫자를 출력해야합니다.
그후 x값을 출력하고, 조건은 x의값을 2씩 더한값을 구해서 작성하였습니다.
(수정완료)
for 사용하고, y로 빈리스트 생성해주고, 초기값2부터 출력해야하는 10이라서 끝값을 11주고, 증가값2로 주었습니다.

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [20]:
phone_number ="01012347890"

phone_index= len(phone_number)

hide_number=phone_number[0:-4]
hide_show = "****"

result=hide_number+hide_show
print(result)

0101234****

기본적인 휴대폰번호를 적어줍니다. 이후 휴대폰의 인덱스 길이를 구해주고, 숨김표시할 휴대폰 번호자리수를 빼줍니다.
이후 숨김표시할 대체 문자를 작성후, 결과값에 합쳐서 출력합니다

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [8]:


s = '77three4one'

num_change = ['0','1','2','3','4','5','6','7','8','9']
lan_change = ['zero', 'one' ,'two' ,'three', 'four','five' ,'six' ,'seven', 'eight','nine']

for x, y in zip(num_change, lan_change):
    while y in s:
        s = s.replace(y, x)

print(s)

77341

숫자와 영문의 리스트를 생성후, 숫자는=x, 언어는 =y값으로 압축, 이후 y값을 x값으로 변환해주는 replace(replace는 해당 함수안의 문자의 앞부분과 뒷부분을 바꿔주기때문에)를 사용하여 값을 출력하였습니다.

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [22]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]

result = []
for i in range(len(arr1)):
    row = []
    for j in range(len(arr1[0])):
        row.append(arr1[i][j] + arr2[i][j])
    result.append(row)

print(result)

[[4, 6], [7, 9]]

여기서부터 조금 헤맨 문제들이 많습니다...
result의 값과 row의 값에 빈칸을 넣어줘야한다는것부터 막혀서 다르게 적어도 진행이 안됐어요.
저는 """while a<len(arr1):""" 함수를써서 a=0 b=0으로 인덱스 지정해서 한칸씩 앞으로 더하고, arr2의 값을 구하려했는데,
다음줄부터 막혀서 답변 참고했습니다. 여기서도 append 함수가 이해가 잘안되서 챗 gpt활용해서 학습했습니다.

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [30]:
x = 17 
y = x   

add_num = 0

while y > 0:
    add_num = add_num + (y % 10) 
    y = y // 10                    

if x % add_num == 0:
    print("true")
else:
    print("false")

false

x=17로 할당해주고, y는 하샤드 수를 판별하기 위해 x값을 한번더 할당해줬습니다.
십의자리와 일의자리를 하나씩 나누어서 더한 후 원래값/더한값의 나머지가 0이 아닌경우 false가 출력되도록 설계했습니다.

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [32]:
seoul = ["Jane", "Kim"]

print(f"김서방은 {seoul.index('Kim')}에 있다.")

김서방은 1에 있다.

seoul의 리스트에 jane과 kim을 하당해주고, f-str으로 출력후 kim은 인덱스값이 1임으로, 인덱스 사용하여 출력하였습니다.

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [35]:
numbers = [5, 8, 1, 0, 6, 9]

total_num = 0
hold_num = 0

for x in range(10):      
    total_num = total_num + x

for y in numbers:         
    hold_num = hold_num + y

print(total_num - hold_num)

16

0~9의 합과  현재 보유중이 보유중인 값의 합을 빼서 나머지의 합을 구했습니다.